$color-1: #3e454c; // Blackish
$color-2: #3D94CE; // Blue
$color-3: #ffffff; // White
$color-4: #EABF7D; // Gold

$coverBG: #f7f7f7;
$box3d-a: #fafafa;
$box3d-b: #fff;


// fonts 
$primary: 'Lato', sans-serif;
$standardTextColor : #333;


// header size
$header-height-S: 45px;
$header-height-M: 55px;


//sidebar size
$sidebar-width-M: 110px;
$sidebar-width-L: 200px;


//color
$sidebar-bg: #1a181a;
$secondary-sidebar-bg: #49525a;